@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700');
@font-face {
  font-family: 'Sebaldus-Gotisch';
  src: url(Sebaldus-Gotisch.ttf) format('truetype');
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: 'Sebaldus-Gotisch', 'Crimson Text', serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
  align-items: center;
}

.row {
  flex-direction: row;
}

.main-padding {
  height: 100%;
  width: 75%;
  align-items: center;
  margin-top: 2rem;
}

.main-container {
  min-height: 1200px;
  height: 100%;
}

.table {
  text-align: center;
  max-width: 700px;
  min-width: 400px;
}

.sideHeading {
  text-align: left;
}

.footer {
  margin-top: 2.5rem;
  background-color: #212529;
  width: 100%;
  padding: 0.3rem 0;
  color: white;
  text-align: center;
  align-items: center;
}

.block {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.section {
  width: 100%;
  margin-bottom: 2rem;
  max-width: 640px;
}

select {
  margin: 1rem;
}

.box {
  border: 2px solid black;
  padding: 0.4rem 1.4rem;
  margin-bottom: 2rem;
}

.exportBox {
  border: 2px solid black;
  padding: 0.4rem 1.4rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: black;
}

.exportBox:hover {
  background-color: black;
  text-decoration: none;
  color: white;
}

.bold {
  font-size: 1.4em;
  font-weight: 700;
}

.footer a {
  color: #7affdb;
  text-decoration: underline;
}

#heart {
  color: tomato;
}

@media only screen and (max-width: 535px) {
  table,
  .table {
    min-width: 200px;
    width: 375px;
  }

  .main-padding {
    width: 100%;
  }

  .description > p {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 360px) {
  caption {
    display: none;
  }

  table,
  .table {
    width: 100%;
    max-width: 360px;
  }

  .table-sm td,
  .table-sm th {
    padding: 0px;
  }
}
