@import url('https://fonts.googleapis.com/css?family=Marcellus');

html,
#root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Marcellus', serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
  width: 100%;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.container {
  width: 100%;
  justify-content: center;
}

.main-container {
  width: 100%;
  height: 100%;
  align-items: center;
}

.main-padding {
  height: 100%;
  width: 75%;
  align-items: center;
}

.inner-width: {
  width: 75%;
}

.center {
  justify-content: center;
}

.table {
  text-align: center;
  max-width: 700px;
  min-width: 400px;
}

.sideHeading {
  text-align: left;
}

table td,
table tr {
  /* border: 1px solid black; */
}

.footer {
  margin-top: 2.5rem;
  background-color: #212529;
  width: 100%;
  padding: 0.3rem 0;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.block {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
